* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 300px;
  margin: 50px auto;
}

button {
  width: 130px;
  height: 30px;
  color: #fff;
  border: none;
  background-color: red;
  outline: none;
}

button.decrement {
  background-color: blue;
}

.displayValue {
  display: block;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 50px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}